body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Montserratblack";
    src: url(Montserrat-Black.ttf);
}

@font-face {
    font-family: "MontserratBold";
    src: url(Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Montserratregular";
    src: url(Montserrat-Regular.ttf);
}

@font-face {
    font-family: "MontserratMedium";
    src: url(Montserrat-Medium.ttf);
}

#wrapper {
    width: 1920px;
    height: 1080px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-image: url(dark_bg.png);
}

#content {
    width: 1920px;
    position: relative;
    top: 0;
    left: 0;
    height: 640px;
}

.team {
    width: 1920px;
    height: 320px;
    position: relative;
    display: flex;
}

.player {
    height: 320px;
    width: 384px;
    position: relative;
}

.player .name {
    height: 45px;
    width: 100%;
    position: relative;
    line-height: 63px;
    text-align: center;
    color: white;
    font-family: "MontserratBlack";
    z-index: 4;
    font-size: 28px;
    vertical-align: middle;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.7);
}

.player .fullname {
    font-family: "MontserratMedium";
    color: white;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    margin-left: 10px;
    z-index: 1000;
}

.player #team_logo {
    display: flex;
    position: absolute;
    justify-content: center;
    height: 95%;
    align-items: center;
    width: 100%;
}

.player #team_logo img {
    max-height: 140px;
}

.player.dead .photo, .player.dead .name {
    opacity: 0.4;
    transition: all 1s ease-in-out;
}

.player.dead:before {
    content: "";
    width: 200px;
    height: 200px;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 7;
    background-image: url(dead_large.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.player .stats {
    width: 100%;
    position: absolute;
    bottom: 10px;
    height: 50px;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 1);
    z-index: 5;
}

.player .stats .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}

.player .stats .wrap .hp {
    font-family: "MontserratBlack";
    color: white;
    font-size: 25px;
    text-align: center;
    white-space: nowrap;
    display: inherit;
    margin-right: 10px;
}

.player .stats .wrap .money {
    font-family: "MontserratBlack";
    color: white;
    font-size: 25px;
    text-align: center;
    white-space: nowrap;
    display: inherit;
    z-index: 10;
}

.player .circle {
    height: 250px;
    width: 250px;
    position: absolute;
    left: 66.99px;
    bottom: 0px;
    z-index: 2;
}

.player .circle .circle-left-wrap {
    width: 125px;
    height: 250px;
    left: 0;
    top: 0;
    overflow: hidden;
    position: absolute;
    transform-origin: 100% 50%;
}

.player .circle .circle-left-wrap .circle-left {
    height: 240px;
    width: 240px;
    border-radius: 50%;
    border: 5px solid #3e8ddd;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.player .circle .circle-right-wrap {
    width: 125px;
    height: 249.9px;
    right: 0;
    top: 0;
    overflow: hidden;
    position: absolute;
    transform-origin: 0% 50%;
}

.player .circle .circle-right-wrap .circle-right {
    height: 240px;
    width: 240px;
    border-radius: 50%;
    border: 5px solid #3e8ddd;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}