body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Montserratblack";
    src: url(Montserrat-Black.ttf);
}

@font-face {
    font-family: "MontserratBold";
    src: url(Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Montserratregular";
    src: url(Montserrat-Regular.ttf);
}

@font-face {
    font-family: "MontserratMedium";
    src: url(Montserrat-Medium.ttf);
}

.player>.hp_container>.hp_bar {
    width: 295px;
    background: #5788a8;
    height: 30px;
    top: 4em;
    float: left;
    position: absolute;
    text-shadow: 0px 0px 10px black;
    transform: scale(0.99,0.9);
}

.player>.hp_container>.hp_bar_red {
	width: 290px;
    top: 4.03em;
    left: 47px;
	height: 29.9px;
	float: left;
	transform: scale(0.99,0.9);
	position: absolute;
	background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgb(255, 0, 0) 0%);
	transition: all 1s ease-in-out;
}

.player>.hp_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player>.weapons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.5em;
}

.player>.weapons>img {
    filter: invert(100%);
    max-width: 275px;
    max-height: 70px;
}

.team>.team_logo {
    position: absolute;
}

.team>.team_logo>img {
    height: 200px;;
}

#wrapper {
    width: 1920px;
    height: 1080px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-image: url(dark_bg.png);
}

#content {
    width: 1920px;
    position: relative;
    top: 0;
    left: 0;
    height: 640px;
}

.team {
    width: 1920px;
    height: 320px;
    position: relative;
    display: flex;
}

.player {
    height: 320px;
    width: 384px;
    position: relative;
}

.player .name {
    height: 45px;
    width: 100%;
    position: relative;
    line-height: 63px;
    text-align: center;
    color: white;
    font-family: "MontserratBlack";
    z-index: 4;
    font-size: 28px;
    vertical-align: middle;
}

.player .fullname {
    font-family: "MontserratMedium";
    color: white;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    margin-left: 10px;
    z-index: 1000;
}

.player #team_logo {
    display: flex;
    position: absolute;
    justify-content: center;
    height: 95%;
    align-items: center;
    width: 100%;
}

.player #team_logo img {
    max-height: 140px;
}

.player.dead .stats, .player.dead .name {
    opacity: 0.4;
    transition: all 1s ease-in-out;
}

.player.dead:before {
    content: "";
    width: 300px;
    height: 300px;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 7;
    background-image: url(dead_large.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.player.dead>.hp_container>.hp_bar {
    display: none;
}

.player .stats {
    width: 100%;
    position: absolute;
    bottom: 10px;
    height: 80px;
    z-index: 5;
}

.player .stats .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    width: 200px;
    position: absolute;
}

.player .stats .wrap .hp {
    font-family: "MontserratBlack";
    color: white;
    font-size: 25px;
    text-align: center;
    white-space: nowrap;
    display: inherit;
    width: 50%;
}

.player .stats .wrap .money {
    font-family: "MontserratBlack";
    color: white;
    font-size: 25px;
    text-align: center;
    white-space: nowrap;
    display: inherit;    
    text-align: right;
    position: absolute;
    right: 0;
}

.player .numberstats {
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

.player .numberstats #kills,
.player .numberstats #assists,
.player .numberstats #deaths {
    font-family: "MontserratBlack";
    color: white;
    font-size: 25px;
    text-align: center;
}

.player .numberstats #kills,
.player .numberstats #assists {
    margin-right: 20px;
}

.team_logo {
    opacity: 0.10;
    width: 1920px;
    height: 320px;
    position: absolute;
    top: 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
}