@font-face {
	font-family:'Lovelo Black';
	src: url("/files/fonts/Lovelo Black.otf");
}

@font-face {
	font-family:'Saira SemiCondensed Light';
	src: url("/files/fonts/SairaSemiCondensed-Light.ttf");
}

html,
body {
	margin: 0;
	padding: 0;
	font-family:'Lovelo Black';
	color: white;
}

#defuser {
  width:500px;
  height:178px;
  position:absolute;
  left:-274px;
  margin-left:50%;
  bottom:200px;
}

#defuser_title {
  position:absolute;
  left:141px;
  top:41px;
  height:50px;
  font-size:30px;
}

#defuse_bar {
	background:red;
	width:350px;
	position:absolute;
	height:10px;
	left:133px;
	top:81px;
}

#defuse_time {
  position:absolute;
  left:141px;
  top:90px;
  height:50px;
  font-size:30px;
}

#bomb_timer {
  width:100%;
  height:10px;
  margin:auto;
  background-color:red;
}

#team_1 > #team_logo > #team_flag {
	position: absolute;
	z-index: -1;
	display: block;
	left: -6px;
	background-repeat: no-repeat;
	background-position: 0% 50%;
	width: 90px;
	height: 55px;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}

#team_2 > #team_logo > #team_flag {
	position: absolute;
	z-index: -1;
	display: block;
	left: -8px;
	background-repeat: no-repeat;
	background-position: left center;
	width: 90px;
	height: 55px;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}

::-webkit-scrollbar {
	display: none;
}

.color {
	position: fixed;
	width: 100%;
	height: 100%;
	transition: color .25s ease-in-out;
}

#timer {
	position: relative;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}
.time {
	font-size: 7em;
	transition: .25s ease-in-out;
}
.first_title_tm {
	height: 35px;
	display: table-cell;
	vertical-align: bottom;
}
.invert {
	filter: invert(100%);
}
.first_tm {
	height: 60%;
	font-size: 30px;
	margin-top: -10px;
}

#left>.player>.player_highlight {
	position: absolute;
    top: 0;
    left: -8px;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.35) 31%, rgba(255,255,255,0) 100%);
	transform: skewX(-15deg);
	display: none;
}

#right>.player>.player_highlight {
	position: absolute;
    top: 0;
    right: -8px;
    width: 100%;
    height: 100%;
    background: linear-gradient(-90deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.35) 31%, rgba(255,255,255,0) 100%);
	transform: skewX(15deg);
	display: none;
}

.player.highlighted.dead_bg .player_highlight {
	display: none !important;
}

.player.highlighted .player_highlight {
	display: block !important;
}



#player-container {
    position: fixed;
    bottom: 110px;
    font-family: 'Saira SemiCondensed Light';
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
}
#player-container.no-avatar {
	margin-left: -390.5px;
	width: 781px;
}

#player-container.t #container2 #first_row #current_nick{
	color: #ffa000;
}

#player-container.t {
	background-image: url(/files/img/evs_player_t.png);
}

#player-container.ct {
	background-image: url(/files/img/evs_player_ct.png);
}

#container2 {
	position: relative;
    z-index: 1;
}

#team_money_2.low, #team_money_1.low{
	color: #ff0000;
}
#player-container.ct #container2 #first_row #current_nick{
	color: #00a0ff;
}
#player-container > #container2 > #third_row > #bomb_t > img {
	width: 16px;
    margin-top: -2px;
    height: auto;
}
.no-avatar #avatar_container{
	display:none;

}
.no-avatar #container2{
	margin-left:0 !important;

}
.st_left {
	float: left;
	text-align: left;
}
.st_right {
	float: right;
	text-align: right;
}
.stats_player {
	height: 63px;
	width: 100%;
	margin-bottom: 4px;
	display: inline-block;
}
#kills_count, #assist_count, #death_count {
	font-size: 17px;
	padding-right: 10px;
}
#stat_money {
	width: 20%;
	height: 100%;
	color: #ef562d;
	font-size: 25px;
	font-weight: 600;
	margin-top: 12px;
}
#left_stats {
	width: 50%;
	height: 100%;
	float: left;
	margin-top:85px;
}
.skull, .bomb{
	filter: brightness(140%);
}
.defuse{
	filter: brightness(200%);
}
#right_stats {
	width: 50%;
	height: 100%;
	float: right;
	margin-top:85px;
}
#player-container i {
	font-size: 30px;
	left: 3px;
}
#health {
	color: #2ecc71;
}
#health-text {
	background-image: url("/files/img/plus.png");
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: left center;
	padding-left: 30px;
	display: inline-block;
	font-size: 40px;
	width: 55px;
}
#health-bar {
	display: inline-block;
	width: calc(100% - 118px);
	height: 20px;
	transform: skewX(40deg);
	background-color: rgba(0, 0, 0, 0.65);
	overflow: hidden;
	position: relative;
}
#stats_1st > .first_t > .round_team_1_name, #stats_1st > .sec_t > .round_team_2_name{
	position:absolute; height:100%; width:45%; text-align: right;
}
#stats_2nd > .first_t > .round_team_1_name, #stats_2nd > .sec_t > .round_team_2_name{
	position:absolute; height:100%; width:65%; text-align: right;
}
#armor,
#health {
	height: 30px;
}
#armor {
	margin-left: -5px;
	color: #3498db;
}
#armor .fa-stack {
	width: 35px;
}
#armor .fa-plus {
	color: white;
	font-size: 15px;
	top: -5px;
}
#armor-text {
	background-image: url("/files/img/armor.png");
	background-repeat: no-repeat;
	background-size: 25%;
	background-position: left center;
	padding-left: 30px;
	display: inline-block;
	font-size: 23px;
	margin-left: 20px;
	width: 55px;
}
#bar_username{
	color:white;
}
#left>.player>.bar1>.hp_bar>.bar_weapon, #left>.player>.bottom_bar>.equip_bar>.bar_weapon.money_left{ 
	width: 217px!important;
	font-size: 0.8em;
}
#right>.player>.bar1>.hp_bar>.bar_weapon, #left>.player>.bottom_bar>.equip_bar>.bar_weapon.money_left {
	width: 217px!important;
	text-align: right;
	font-size: 0.8em;
}
.player>.bar1>.hp_bar>.bar_weapon>.stats_money {
	position: absolute;
    margin-left: 2px;
}
#right>.player>.bar1>.hp_bar>.bar_weapon>.stats_money {
	margin-left: -35px;
}
#left>.player>.bar1>.hp_bar>.bar_weapon>.stats_kda_container {
	margin-left: 105px;
    position: absolute;
    margin-top: 0px;
    white-space: nowrap;
}
#right>.player>.bar1>.hp_bar>.bar_weapon>.stats_kda_container {
	margin-left: 14px;
    position: absolute;
    margin-top: 0px;
    display: flex;
}
.player>.bar1>.hp_bar>.bar_weapon>.stats_kda_container>.stats_kda {
	font-size: 1em;
    padding: 0em 0.4em;
}
#armor-text.armor{
	background-image: url("/files/img/armor.png");
}
#armor-text.helmet{
	background-image: url("/files/img/helmet.png");
}
#armor-bar {
	display: inline-block;
	width: calc(100% - 98px);
	height: 20px;
	transform: skewX(40deg);
	background-color: rgba(0, 0, 0, 0.65);
	overflow: hidden;
	position: relative;
}
.clip {
	background-image: url("/files/img/ammo.png");
	background-repeat: no-repeat;
	background-size: 25%;
	background-position: left center;
	display: inline-block;
	font-size: 30px;
}
#ammo-container {
	position: fixed;
	bottom: 0px;
	right: -26px;
	background-color: #2c3e50;
	height: 63px;
	width: 300px;
	transform: skewX(-40deg);
}
#ammo-container #container2 {
	margin-right: 60px;
	transform: skewX(40deg);
	float: right;
}
#ammo-container span {
	font-size: 50px;
}
#ammo-container .clip {
	font-size: 50px;
}
#ammo-container .reserve {
	font-size: 30px;
}
#first_row {
	height: 18%;
	margin-top: 52px;
	font-weight: bold;
	width: 100%;
}
.ct_color {
	background-color: #5788a8 !important;
}
.t_color {
	background-color: #c19511 !important;
}
#second_row {
	height: 15%;
	width: 100%;
	padding-left: 5px;
	padding-top: 7px;
	display: flex;
}
#third_row {
	padding-right: 65px;
	padding-left: 5px;
	margin-top: 5px;
}
#container2>#teambg-container {
	opacity: 0.25;
	width: 244px;
	height: 82px;
    position: absolute;
    top: 80px;
	z-index: -2;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
}
.team_info#team_1>#teambg-container {
    opacity: 0.25;
    width: 210px;
    height: 64px;
    left: 14%;
	top: 0px;
    position: absolute;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
}
.team_info#team_2>#teambg-container {
	opacity: 0.25;
    width: 210px;
	height: 64px;
	right: 14%;
	top: 0px;
    position: absolute;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
}

#current_nick {
	width: 37%;
	font-family:'Lovelo Black';
	font-weight: 600;
	font-size: 28px;
	display: inline-block;
	white-space: nowrap;
	background-repeat: no-repeat;
	background-position: 0 65%;
	background-size: 27px;
	overflow:hidden;
}
#current_nick.no-flag{
	padding-left:0px;
}
#current_nick::before {
	width: 27px;
	height: 20px;
	margin-right: 10px;
}
#nick_also {
	padding-left: 15px;
}
#health_armor {
	font-family:'Saira SemiCondensed Light';
	height: 100%;
	width: 27%;
	padding-left: 65px;
}
#round_stats {
	height: 85px;
	width: 100%;
}
.st_left {
	float: left;
	text-align: left;
}

.st_right {
	float: right;
	text-align: right;
}
.stats_player {
	height: 63px;
	width: 100%;
	margin-bottom: 4px;
	display: inline-block;
}
#stat_money {
	width: 20%;
	height: 100%;
	color: #ef562d;
	font-size: 25px;
	font-weight: 600;
	margin-top: 12px;
}
#left_stats {
	width: 50%;
	height: 100%;
	float: left;
}
#right_stats {
	width: 50%;
	height: 100%;
	float: right;
}
#stats-container {
	position: fixed;
	bottom: 0px;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 100px, rgba(0, 0, 0, 0) 1000px, rgba(0, 0, 0, 0.3));
	font-family:'Saira SemiCondensed Light';
	left: 50%;
	margin-left: -550px;
	height: 420px;
	width: 1100px;
}
#ammo {
	font-family:'Saira SemiCondensed Light';
	height: 100%;
	width: 20%;
}
.inlining {
	display: inline;
}
#stats {
	width: 21%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#health-text {
	display: inline-block;
	font-size: 23px;
	width: 30px;
}
#clip-text {
	display: inline-block;
	font-size: 23px;
	width: 52px;
	text-align: right;
}
#reserve-text {
	display: inline-block;
	font-size: 23px;
	width: 60px;
}
#nades {
	height: 18%;
	float: right;
}
#nades img {
	max-height: 25px;
}
#nades.inlining {
	filter: invert(100%);
}
#nades.inlining img {
	max-height: 20px;
	max-width: 20px;
	margin-right: 10px;
}
.team#left>.player>.bottom_bar>.equip_bar>#nades {
	float: right;
}
.team#right>.player>.bottom_bar>.equip_bar>#nades {
	float: left;
}
.team#left>.player>.bottom_bar>.equip_bar>#nades>.bar_weapon {
	float: left;
    display: flex;
    margin-right: 40px;
    align-items: center;
    justify-content: center;
}
.team#right>.player>.bottom_bar>.equip_bar>#nades>.bar_weapon {
	float: right;
    display: flex;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
}
.team>.player>.bottom_bar>.equip_bar>#nades>.bar_weapon>img {
	max-height: 13px;
    max-width: 23px;
	margin-right: 2px;
	margin-left: 2px;
}
.team>.player>.bottom_bar>.equip_bar>#nades>.bar_weapon>.img-hor {
	max-height: 13px;
    margin-right: 5px;
}
.team#left>.player>.bottom_bar>.equip_bar>#nades>.hpbombset {
	position: absolute;
	left: 6.5px;
	top: 28px;
	width: 45px;
	height: 20px;
}
.team#left>.player>.bottom_bar>.equip_bar>#nades>.money_stats {
	position: absolute;
    left: 62.5px;
    top: 30px;
    width: 45px;
    height: 20px;
}
.team#left>.player>.bottom_bar>.equip_bar>#nades>.hpbombset>.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
}
.team#right>.player>.bottom_bar>.equip_bar>#nades>.hpbombset {
	position: absolute;
	right: 6.5px;
	top: 28px;
	width: 37px;
	height: 20px;
}
.team#right>.player>.bottom_bar>.equip_bar>#nades>.money_stats {
	position: absolute;
	right: 57.5px;
	text-align: right;
    top: 30px;
    width: 45px;
    height: 20px;
}
.team#right>.player>.bottom_bar>.equip_bar>#nades>.hpbombset>.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
}
.hpbombset img {
	margin: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	max-width: 20px !important;
}
#bomb_t {
	float:	right;
	filter: brightness(5%) invert(100%);
	margin-right: 10px;
}
#bomb_ct {
	float:	right;
	filter: brightness(5%) invert(100%);
	margin-right: 10px;
}
#bomb_ct img {
	width: 15px;
	height: auto;
}
.hpbombset .bomb_defuse {
	margin-top: 2px;
}

.hpbombset .wrapper div {
	margin-left: 2px;
	margin-right: 2px;
}
.team#left>.player.dead_bg>.round_kills_container {
	left: 149px;
	transform: translateY(-50%) skewX(-22deg);
	}
.team#left>.player>.round_kills_container {
	height: 47px;
	width: 0px;
	background-color: rgba(0,0,0,0.9);
	position: absolute;
	top: 50%;
	transform: translateY(-50%) skewX(-24deg);
    left: 273px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 2px 0px;
	z-index: -1;
}
.team#left>.player>.round_kills_container>.akill {
	width: 12px;
	height: 12px;
	background-image:url('/files/img/skull.png');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	transform: translateX(-50%) skewX(24deg);
	position: relative;
	left: 50%;
}
.round_kills_count {
	display: none;
}
.team#right>.player.dead_bg>.round_kills_container {
	right: 151px;
	transform: translateY(-50%) skewX(22deg);
	}
.team#right>.player>.round_kills_container {
	height: 47px;
	width: 0px;
	background-color: rgba(0,0,0,0.9);
	position: absolute;
	top: 50%;
	transform: translateY(-50%) skewX(24deg);
	right: 273px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 2px 0px;
	z-index: -1;
}
.team#right>.player>.round_kills_container>.akill {
	width: 12px;
	height: 12px;
	background-image:url('/files/img/skull.png');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	transform: translateX(-50%) skewX(-24deg);
	position: relative;
	left: 50%;
}
.team#left>.player>.player_money_count {
	height: 43px;
	width: 0px;
	background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1));
	position: absolute;
	top: 50%;
	transform: translateY(-50%) skewX(-23deg);
    left: 274px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px 0px;
	overflow: hidden;
	white-space:pre-wrap;
	opacity: 0;
	border-radius: 0px 2px 2px 0px;
	transition: all 0.4s ease-in-out;
}

.team#left>.player>.player_money_count.activated {
	width: 95px;
	opacity: 1;
	transition: all 0.4s ease-in-out;
	z-index: 1;
}

.team#left>.player>.player_money_count>.money_wrapper {
	transform: translateX(-50%) skewX(23deg);
	text-align: center;
	font-size: 0.8em;
	min-width: 55px;
}
.team#left>.player>.player_money_count>.stats_wrapper {
	transform: translateX(-50%) skewX(23deg);
	text-align: center;
	width: 70px;
	margin-left: 50px;
}
.stats_wrapper table {
	margin: 0 auto;
	border-spacing: 5px 0px;
	font-size: 0.9em;
}
.team#right>.player>.player_money_count {
	height: 43px;
    width: 0px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1));
    position: absolute;
    top: 50%;
    transform: translateY(-50%) skewX(23deg);
    right: 274px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0px;
    overflow: hidden;
    white-space: pre-wrap;
	z-index: -1;
	opacity: 0;
    border-radius: 2px 0px 0px 2px;
	transition: all 0.4s ease-in-out;
}

.team#right>.player>.player_money_count.activated {
	width: 95px;
	opacity: 1;
	transition: all 0.4s ease-in-out;
	z-index: 1;
}
.team#right>.player>.player_money_count>.money_wrapper {
	transform: translateX(-50%) skewX(-23deg);
    text-align: center;
	margin-left: 45px;
	font-size: 0.8em;
    min-width: 55px;
}
.team#right>.player>.player_money_count>.stats_wrapper	 {
	transform: translateX(-50%) skewX(-23deg);
	text-align: center;
	width: 0px;
    margin-right: 45px;
	font-size: 0.9em;
}
.block{
	width:14px;
	height:14px;
	margin: 8px;
	background-color: rgba(211,211,211,0.4);
}
.ct .block.win{
	background-color:rgba(111,179,224,0.6);
}
.t .block.win{
	background-color:rgba(255,211,78,0.6);
}
#match_one_info .block{
	float:right;
}
#match_two_info .block{
	float:left;
}
.team {
	width: 410px;
	height: 355px;
}
#left {
	position: fixed;
	left: 0;
	bottom: 0;
}
.equip_bar>.bar_weapon{
	width:165px !important;
}
#right {
	position: fixed;
	right: 0;
	bottom: 0;
}
.player {
	width: 290px;
	height: 60px;
	position: relative;
	margin-bottom: 10px;
}
.bar1 {
	width: 100%;
	height: 35px;
	font-size: 15px;
	font-weight: bold;
}
.bottom_bar {
	width: 100%;
	height: 30px;
}
#player-container>#container2>.hp_bar {
	width: 620px;
    margin-left: -8px;
	height: 10px;
    margin-top: -5px;
    transform: skew(-35deg);
}
#left>.player>.bar1>.hp_bar {
	width: 290px;
	margin-left: -3px;	
	height: 18%;
	float: left;
	margin-top: -5px;
	transform: scale(0.99,0.9);
	transform: skew(-30deg,0deg);
}
#right>.player>.bar1>.hp_bar {
	width: 290px;
	margin-right: -3px;
	height: 18%;
	float: right;
	margin-top: -5px;
	transform: scale(0.99,0.9);
	transform: skew(30deg,0deg);
}


#player-container>#container2>.hp_bar_red {
	width: 620px;
    margin-left: -8px;
	height: 10px;
	top: 79px;
	position: absolute;
    transform: skew(-35deg);
	background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgb(255, 0, 0) 0%);
	transition: all 1s ease-in-out;
}

#left>.player>.bar1>.hp_bar_red {
	width: 290px;
	left: -3px;	
	height: 10%;
	float: left;
	margin-top: -5px;
	transform: scale(0.99,0.9);
	position: absolute;
	transform: skew(-30deg,0deg);
	background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgb(255, 0, 0) 0%);
	transition: all 1s ease-in-out;
}

#right>.player>.bar1>.hp_bar_red {
	width: 290px;
	right: -3px;
	height: 10%;
	float: right;
	margin-top: -5px;
	transform: scale(0.99,0.9);
	position: absolute;
	transform: skew(30deg,0deg);
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(255, 0, 0) 0%);
	transition: all 1s ease-in-out;
}




.money {
	height: 85px;
	background: rgba(0, 0, 0, 0.65);
}
#left > .money{
	background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 295px, rgba(0, 0, 0, 0.65) 295px, rgba(0, 0, 0, 0.3) 410px, rgba(0, 0, 0, 0.0) 410px);
}
#right > .money{
	background: linear-gradient(to left, rgba(0, 0, 0, 0.65) 295px, rgba(0, 0, 0, 0.65) 295px, rgba(0, 0, 0, 0.3) 410px, rgba(0, 0, 0, 0.0) 410px);
}
.stat_t {
	background: rgba(0, 0, 0, 0.65);
	float: right;
	height: 100%;
	width: 115px;
}
#left > .player > .bar1 >.stat_t, #left > .player > .bottom_bar >.stat_t{
	background-size: cover;
	background-position: right;
}
#right > .player > .bar1 >.stat_t, #right > .player > .bottom_bar >.stat_t{
	background-size: cover;
	background-position: left;
}
#left > .player{
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
}

#left > .player.sidee-t {
	background-image:url('/files/img/evs_t_left.png');
}

#left > .player.sidee-ct {
	background-image:url('/files/img/evs_ct_left.png');
}

#left > .player.sidee-t.dead_bg {
	background-image:url('/files/img/evs_dead_t_left.png');
}

#left > .player.sidee-ct.dead_bg {
	background-image:url('/files/img/evs_dead_ct_left.png');
}



#right > .player.sidee-t {
	background-image:url('/files/img/evs_t_right.png');
}

#right > .player.sidee-ct {
	background-image:url('/files/img/evs_ct_right.png');
}

#right > .player.sidee-t.dead_bg {
	background-image:url('/files/img/evs_dead_t_right.png');
}

#right > .player.sidee-ct.dead_bg {
	background-image:url('/files/img/evs_dead_ct_right.png');
}

#left > .player.dead_bg{
	background-size: contain;
	background-position: left;
	/* transition: all 0.4s ease-out; */
}
  
  @keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  }

.dead_bg > .bar1 > .hp_bar > .hp_el {
	display: none;
}
.low_health {
	color: red;
	font-weight: bold;
	filter: brightness(0.5) sepia(1) saturate(10000%);
}
#right > .player{
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
}
#right > .player.dead_bg{
	background-size: contain;
	background-position: right;
	/* transition: all 0.4s ease-in; */
}
.bar1>.stat_t {
	color: rgba(255, 255, 255, 0.3)
}
#kills_assists {
	font-size: 20px;
}
#kills_assists.ct {
	margin-left: 33px;
}
#kills_assists.t {
	margin-right: 33px;
	text-align: right;
}
.stat_t>.kills,
.stat_t>.assists,
.stat_t>.deaths {
	float: left;
	width: 33%;
	text-align: center;
	font-weight: 400;
}
.death {
	height: 70% !important;
	margin-top: 5px
}
.hp_el {
	font-family:'Saira SemiCondensed Light';
}
#left>.player>.bar1>.hp_bar>.hp_el,
#left>.player>.bottom_bar>.equip_bar>.hp_el {
	float: left;
	width: 40px;
	padding-left: 20px;
	margin-top: 11px;
	text-align: center;
	transform: skew(30deg,0deg);
}
#right>.player>.bar1>.hp_bar>.hp_el,
#right>.player>.bottom_bar>.equip_bar>.hp_el {
	float: right;
	width: 40px;
	padding-right: 20px;
	margin-top: 11px;
	text-align: center;
	transform: skew(-30deg,0deg);
}
#left>.player>.bar1>.hp_bar>.bar_username {
	padding-left: 70px;
	padding-top: 15px;
	width: 77%;
	white-space: nowrap;
	font-size:13px;
	text-shadow:none;
	transform: skew(30deg,0deg);
}

#right>.player>.bar1>.hp_bar>.bar_username {
	text-align: right;
	padding-right: 20px;
	padding-top: 15px;
	width: 77%;
	white-space: nowrap;
	font-size: 13px;
	text-shadow: none;
	transform: skew(-30deg,0deg);
}
#left>.player>.bar1>.hp_bar>.bar_weapon,
#left>.player>.bottom_bar>.equip_bar>.bar_weapon {
	float: right;
	width: 420px;
	height: 100%;
	transform: skew(30deg,0deg);
}
#right>.player>.bar1>.hp_bar>.bar_weapon,
#right>.player>.bottom_bar>.equip_bar>.bar_weapon {
	float: left;
	width: 420px;
	height: 100%;
	transform: skew(-30deg,0deg);
}
#left>.player>.bottom_bar>.equip_bar {
	width: 330px;
	height: 100%;
	float: right;
	margin-left: 33px;
}
#right>.player>.bottom_bar>.equip_bar {
	width: 330px;
	height: 100%;
	float: left;
	margin-right: 33px;
}
.bottom_bar>.stat_t {
	font-weight: bolder !important;
}
.bomb_defuse {
	height: 100%;
}
.bomb_timer{
	background-image:url('/files/img/elements/c4_timer.png');
	background-repeat: no-repeat;
	background-size: 32px auto;
    background-position: center;
    top: 2px;
	position: relative;
	animation-name: bombuuu;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes bombuuu {
	0% { opacity: 1; }
	10% { opacity: 1; }
	70% { opacity: 0.3; }
	100% { opacity: 1; }
}
.bomb_defuse.ct {
	float: left;
}
.bomb_defuse.t {
	float: right;
}
.moneys.ct {
	height: 100%;
	width: 60px;
	float: left;
}
.moneys.t {
	height: 100%;
	width: 60px;
	float: right;
}
.bar_weapon.ct>img {
	float: right;
	padding-right: 3px;
}
.bar_weapon.t>img {
	float: left;
	padding-right: 3px;
}
.bar_weapon>.invert {
	filter: invert(100%);
}
.bomb_defuse>.invert_brightness {
	filter: brightness(5%) invert(100%);
}
.bar_weapon>.invert.checked {
	filter: invert(100%);
}
.hp_bar #weapon_icon{
	max-width: 100%;
	max-height: 100%;
}
.equip_bar>.moneys {
	color: #00b400;
	font-weight: bold;
}
.equip_bar>.moneys.low{
	color:#ff0000;
}
.img-hor {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
.equip_bar>.bomb_defuse>img,
.equip_bar>.bar_weapon>img,
.hp_bar>.bar_weapon>img,
.equip_bar>.hp_el>img {
    height: auto;
    max-width: 45px;
    max-height: 20px;
    margin: auto;
    margin-top: -14px;
    margin-left: 7px;
    margin-right: 7px;
}
#right>.player {
	float: right;
}
#header {
	width: 1050px;
	height: 100px;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -525px;
}
#match_tournament {
	width: 70%;
	margin: auto;
	margin-top: 5px;
	height: 30px;
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
}
#match_teams {
	width: 100%;
	height: 69px;
	width: 100%;
	background-size: cover;
	opacity: 0.8;
}
#round_info {
	padding: 0em 5em;
}
#time_counter, #time_info {
	font-size: 25px;
	font-weight: bold;
	width: 10%;
	height: 40%;
	padding-top: 7px;
	margin: auto;
	text-align: center;
}

#round_counter {
	width: 15%;
	height: 44%;
	margin: auto;
	text-transform: uppercase;
	text-align: center;
	font-family:'Saira SemiCondensed Light';
}

#matchup {
	max-width: 200px;
	text-align: center;
	padding: 0.3em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -5px;
	z-index: -1;
	position: relative;
	height: 30px;
}

#matchup .leftscore {
	position: absolute;
	left: 0;
	top: 0;
	height: 37px;
	width: 65px;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotateY(180deg);
}

#matchup .rightscore {
	position: absolute;
	right: 0;
	top: 0;
	height: 37px;
	width: 65px;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
}

#matchup .matchupscore {
	width: 7px;
	position: relative;
	height: 7px;
	border: 2px solid white;
	border-radius: 50% 50%;
	margin: 0px 3px;
}

#matchup .matchupscore.active {
	background-color: white;
}

#matchup .bg {
	width: 100%;
    height: 100%;
    top: 0px;
    border-top: 35px solid rgba(0,0,0,0.9);
    border-left: 30px solid transparent;
    position: absolute;
	border-right: 30px solid transparent;
	z-index: 1;
}

#matchup .content {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 37px;
	line-height: 37px;
	vertical-align: middle;
}

.team_info {
	width: 40%;
	padding-top: 9px;
	font-size:23px;
	text-transform: uppercase;
	font-weight: bold;
}

#team_1 {
	text-align:right;
	float: left;
}

#team_2 {
	text-align: left;
	float: right;
}
#team_score{
	margin-top:-5px;
}
#team_1 > #team_name{
	margin-top:10px;
	float:right;
	position: absolute;
	width: 35%;
    margin-left: -10px;
	text-align: center;
	z-index: 2;
}

#avatar_container {
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.imageloader {
	position: fixed;
	opacity: 0;
	top: -500px;
	bottom: -500px;
	height: 0px;
	width: 0px;
	overflow: hidden;
}

#avatar_container img {
	width:139px;
	height:139px;
	margin-top:1px;
	margin-left:1px;
}
#team_2 > #team_name{
	margin-top:10px;
	float:left;
	position: absolute;
    width: 35%;
	text-align: center;
	z-index: 2;
}
#team_1 > #team_score{
	float:right;
	font-size: 2em;
	margin-right: 20px;
}
#team_2 > #team_score{
	float:left;
	font-size: 2em;
	margin-left: 20px;
}
#team_logo{
	position: relative;
	width: 10%;
	height: 93%;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: -10px;
}
#team_logo.empty{
	width:0%;
}
#team_logo > img{
	position: absolute;
	margin-top:8px;
	max-height: 80%;
	max-width: 100%;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
}
#team_1>#team_logo{
	float:left;
}
#team_2>#team_logo{
	float:right;
}
#flash-container {
	position: fixed;
	bottom: 0px;
	font-family:'Saira SemiCondensed Light';
	left: 50%;
	margin-left: -550px;
	height: 420px;
	width: 1100px;
	/*transform: skewX(40deg);*/
}
#match_tournament > div{
	line-height: 30px;
}
#match_one_info{
	float:left;
	width:35%;
	text-align:right;
	font-weight:600;
}
#match_two_info{
	float:right;
	width:35%;
	text-align:left;
	font-weight:600;
}
#match_info{
	margin:auto;
	width:30%;
	text-align:center;
	font-weight:500;
}
#who_won{
	display:none;
	position:absolute;
	height:80px;
	margin-left:-350px;
	left:50%;
	top:440px;
	width:700px;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 20px;
}

#who_won.t-ssside {
	background-image:url("/files/img/evs_whowin_t.png");
}

#who_won.ct-ssside {
	background-image:url("/files/img/evs_whowin_ct.png");
}

#who_won div {
	display:inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#winning_team_logo {
	position: absolute !important;
    top: -200px !important;
    left: 50%;
    transform: translateX(-50%) !important;
    width: 180px;
	height: 180px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

#bomb-defusing-container {
	width: 400px;
	height: 400px;
	position: absolute;
	top: 500px;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 50px;
	opacity: 0;
	transition: all 1s ease-in-out;
}

#bomb-defusing-container.activebomb {
	margin-top: 0px !important;
	opacity: 1 !important;
	transition: all 1s ease-in-out;
}

#bomb-round-right {
	width: 200px;
	height: 200px;
	border-radius: 50% 50%;
	border: 8px solid rgb(0, 160, 255);
	position: absolute;
	top: 0;
	right: 0;
}

#bomb-round-right-crop {
	height: 216px;
	width: 108px;
	overflow: hidden;
	position: absolute;
	left: 108px;
}

#bomb-round-right-wrapper {
	height: 216px;
	width: 216px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	transform: translate(-50%,-50%) rotate(180deg);
}

#bomb-round-green {
	width: 200px;
	height: 200px;
	border-radius: 50% 50%;
	border: 8px solid rgb(0, 160, 255);
	position: absolute;
	top: 0;
	right: 0;
}

#bomb-round-green-crop {
	height: 216px;
	width: 108px;
	overflow: hidden;
	position: absolute;
	left: 108px;
}

#bomb-round-green-wrapper {
	height: 216px;
	width: 216px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%,-50%) rotate(0deg);
}

#bombcontent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 150px;
	height: 150px;
}

#bombtimer {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	font-size: 46px;
	font-family: "Lovelo Black";
	color: white;
	text-align: center;
	width: 100%;
	text-shadow: 0px 5px 30px rgba(0,0,0,0.75);
}

#skull {
	width: 30px;
	height: 30px;
	position: absolute;
	background-image: url('/files/img/elements/skull.png');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	left: 50%;
}

#bomb {
	width: 45px;
	height: 45px;
	position: absolute;
	background-image: url('/files/img/elements/bomb.png');
	filter: brightness(5%) invert(100%);
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	left: 50%;
	transform: translateX(-50%);
	top: -5px;
	animation-name: bomb;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes bomb {
	0% { transform: translateX(-50%) rotateY(0deg); }
	25% { transform: translateX(-50%) rotateY(90deg); }
	50% { transform: translateX(-50%) rotateY(180deg); }
	75% { transform: translateX(-50%) rotateY(270deg); }
	100% { transform: translateX(-50%) rotateY(360deg); }
}